@{
    ViewData["Title"] = "Home Page";

}
@Html.ActionLink("Details", "Details", "Student")
@{
    var name = "";
    var date = "";
    if (TempData.ContainsKey("Name"))
    {
        name = TempData["Name"] as string;
    }
    if (TempData.ContainsKey("Date"))
    {
        date = TempData["Date"] as string;
    }
    TempData.Keep("Date");

}


<h2> @name </h2>
<h2> @date </h2>
<input type="button" id="btnRedirect" value="Redirect" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
    $("#btnRedirect").click(function () {
        window.location.href = "@Url.Action("AsycGautam", "Home")";
    });
});
</script>