@{
    ViewData["Title"] = "Home Page";

}
@model MyFirstMVC.Models.SelfDetails;
@{
    var name = "";
    var date = "";
    if (TempData.ContainsKey("Name"))
    {
        name = TempData["Name"] as string;
    }
    if (TempData.ContainsKey("Date"))
    {
        date = TempData["Date"] as string;
    }
    TempData.Keep("Date");

}
<link href="~/css/jquery-ui.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker({
                dateFormat: "dd-mm-yyyy",
                changeMonth: true,
                changeYear: true
            });            
        });
        function phonenumbercheck() {
            var value = $('#ContactNum').val();
            var filter = /^[0-9-+]+$/;
            if (filter.test(value) && value.length == 10) {
                var expr = value.substr(0, 3) + "-" + value.substr(3, 3) + "-" + value.substr(6, 10);
                value = expr;
                $('#txtMessage').text("valid Input");

                $('#ContactNum').val(value);
            }
            else {
                $('#txtMessage').text("Invalid Input. The format is to be in number format which should not exceed 10characters");
            }
        }
    </script>
}

<div>
    <h3> Name: @name </h3>
    <h3> DateTime: @date </h3>
    <br />
    <a type="button" id="btnRedirect" href="@Url.Action("AsycGautam","Home")">Redirect</a>
    <br />
    <label for="Phone">Phone</label>
    <label>@Context.Request.Host</label>
    @*<input type="text" id="txtPhone" name="Phone" onblur="phonenumbercheck()" />*@

    @Html.TextBoxFor(x => x.ContactNum, new { onblur = "phonenumbercheck()" })
    <label id="txtMessage"></label><br />
    <div>
        @Html.EditorFor(x => x.DateofBirth, new { @class = "datepicker" })
    </div>
</div>

